@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

/* -----------------------ABOUT */
.about{
    width: 100%;
    height: calc(100vh - 130px);
}
.about__box{

    width: 50%;
    height: 600px;
    margin:50px auto 0 auto;
}
.about__title{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}
.polaroid--big{
    width: 50%;
    height: 550px;
    margin:50px auto 0 auto;
    border: 2px solid #e7e5e1;
    background-color: white;
    padding: 50px 0 0 0;
}
.about__box__img{
    width: 75%;
    height: 300px;
    margin: 0 auto 50px auto;
    background-image: url(../Iconos/aboutme\(me\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #e7e5e1;

}
.about__box__description{
    width: 75%;
    height: 150px;
    margin: 0 auto 0 auto;

    text-align: center;
}
.about__box__description{
    font-family: 'Lexend Mega', sans-serif;
    margin: 0 auto 0 auto;

    text-align: center;
}
/* -----------------------ABOUT */