/* -----------------------DETAIL */
.detail{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.575);
}
.detail_close_btn{
    margin: 70px 200px 0 0 ;
    float: right;
    height: 30px;
    width: 30px;
    position: relative;
}
.polaroidBig{
    width: 50%;
    height: 550px;
    margin:200px auto 0 auto;
    border: 2px solid #e7e5e1;
    background-color: white;
    padding: 10px 0 0 0;
}
.tarjetaMemes--big{
    flex: 1;
    width: 50%;
    height: 550px;
    margin: 50px auto 20px auto;
}
.tarjetaMemes__imgBig{
    margin: 5px auto;
    height: 400px;
    width: 95%;
    border: 2px solid #e7e5e1;
}
.tarjetaMemes__imgBig img{
    height: 100%;
    width: 100%;
}
.tarjetaMemes__titleBig{
    margin: 5px auto;
    height: 120px;
    width: 95%;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Lexend Mega', sans-serif;
}
.tarjetaMemes__titleBig:last-child{
    font-size: 15px;
}

/* -----------------------DETAIL */