.game{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.game__title{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}
.game__content{
    margin: 10px auto 10px auto;
    width: 80%;
}
.game__content h3{
    font-family: 'Bungee Shade', cursive;
    margin-top: 10px;
    font-size: 30px;
}
.game__dificulty{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 250px;
    height: 50px;
    margin-top: 10px;
}
.game__dificulty h4{
    font-family: 'Bungee Shade', cursive;
    margin-top: 10px;
    font-size: 20px;
    width: 250px;
}
.game__dificulty p{
    font-family: 'Lexend Mega', sans-serif;
    margin: 15px 10px 0 0;
    font-size: 17px;
    cursor: pointer;
}
.game__dificulty p:hover{
    /* color: rgb(0, 110, 255);
    border-bottom: 1px solid rgb(0, 110, 255); */
    background-color: black;
    color: white;
}
.b-grid {
    display: flex;
    flex-wrap: wrap;
    width: 505px;
    margin: auto;
    align-items: center;
    
}

.b-grid img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #e7e5e1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
.b-grid-medium {
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    margin: auto;
    align-items: center;
    
}
.b-grid-medium img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid #e7e5e1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}
