@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* -----------------------LIST */
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.list__title{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}
.list__content{
    width: 70%;
    margin: 30px auto 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.tarjetaMemes{
    flex: 1;
    width: 30%;
    height: 325px;
    margin: 0 auto 20px auto;
}
.polaroid{
    border: 2px solid #e7e5e1;
    background-color: white;
    margin: auto;
    height: 100%;
    width: 250px;
}
.tarjetaMemes__img{
    margin: 15px auto;
    height: 200px;
    width: 200px;
    border: 2px solid #e7e5e1;

}
.tarjetaMemes__title{
    margin: 5px auto;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    font-family: 'Lexend Mega', sans-serif;

}
.tarjetaMemes__img img{
    height: 200px;
    width: 200px;
}
.tarjetaMemes__title p{
    width: 200px;
}
.tarjetaMemes__title .button{
    border: none;
    background-color: white;
    align-items: center;
}
.tarjetaMemes__title .button img{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
/* -----------------------LIST */
