/* -----------------------MAIN */
.main{
    width: 100%;
    height: calc(100vh - 82px);
    display: flex;
    flex-direction: column;
}
.main__title{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.main__title h1{
    margin: 10% auto 0 auto;
    padding: 0;
    font-size: 200px; 
    font-family: 'Bungee Shade', cursive;
}
.main__title h4{
    margin: 20px auto;
    padding: 0;
    font-size: 30px; 
}
.main__description{
    margin: 30px auto;
    width: 100%;
    text-align: center;
}
.main__description p{
    font-family: 'Lexend Mega', sans-serif;
    font-size: 19px;
    margin: auto;

}
.main__description img{
    height:14px;
}
/* -----------------------MAIN */


