/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');
/* STYLESHEETS */
@import url(./main.css);
@import url(./list.css);
@import url(./detail.css);
@import url(./add.css);
@import url(./about.css);
@import url(./user.css);
@import url(./game.css );




/* Display NONES */
.displayNone {
    display: none !important;
}
/* Display NONES */



body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f6f3ef;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}


/* -------------------HEADER */
.header__navBar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #504c46;
}
.header__navBar__logo{
    height: 100%;
    margin-left: 5%;
    padding-top: 15px;
    font-size: 40px;
    font-family: 'Bungee Shade', cursive;
    cursor: pointer;
}
.header__navBar__contents{
    margin-right: 5%;
    height: 100%;
    width: 40%;
}
.header__navBar__contents ul{
    list-style: none;
    padding: 5px 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
}
.header__navBar__contents ul li{
    font-size: 30px;
    list-style: none;
    margin: 0 5%;
    height: 20px;
    padding-top: 25px;
    font-family: 'Lexend Mega', sans-serif;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
#btnGame img{
    height: 24px;
    width: 24px;
}
.header__navBar__contents  img{
    height: 17px;
    width: 17px;
    margin: 0;
    padding: 0;
}



/* -------------------HEADER */




/* -------------------FOOTER  */

.footer{
    height: 300px;
    width: 100%;
    border-top: 2px solid #504c46;
    display: flex;
    flex-direction: row;
}

.footer__logo{
    margin-left: 5%;
    padding-top: 20px;
    font-size: 30px;
    margin: auto 0px auto 5%;
    font-family: 'Bungee Shade', cursive;
    cursor: pointer;
}
.footer__map{
    padding-left: 5%;
    margin-left: 5%;
    border-left: 3px solid black;
    margin: auto 0px auto 5%;
}
.footer__rrss{
    margin-left: 30%;
    padding-top: 5%;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}
.footer__rrss img{
    height: 20px;
    width: 20px;
}
/* -------------------FOOTER  */





