.user{
    width: 100%;
    height: calc(100vh - 100px);
    margin: 50px 0 0 0;
}

.user__title{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    font-family: 'Bungee Shade', cursive;
    font-size: 30px;
}
.user__container{
    width: 90%;
    margin: auto;
    align-items: center;
}


.user__container__form{
    border: 2px solid #e7e5e1;
    background-color: white;
    margin: 50px auto 0 auto;
    padding: 10px 5px;
    height: 520px;
    width: 400px;
    font-family: 'Lexend Mega', sans-serif;
}
.user__container__form__principal{
    margin: 15px auto;
    height: 300px;
    width: 350px;
    border: 2px solid #e7e5e1;
}
.user__container__form__principal p{
    font-size: 13px;
}
.user__container__form__secondary{
    margin: 15px auto;
    height: 160px;
    width: 350px;
    border: 2px solid #e7e5e1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.user__container__form__secondary span{
    margin: 5px;
    text-align: center;
    font-size: 13px;
}
.user__container__form__secondary button{
    width: 50%;
    background-color: #f6f3ef;
    border:1px solid #e7e5e1;
    height: 35px;
    font-size: 20px;
    font-family: 'Bungee Shade', cursive;
    margin: auto;
    cursor: pointer;
}
.user__container__form__secondary button:hover{
    background-color: white;
    border-bottom: 5px solid #e7e5e1;
}
.user__container__form__secondary button:active{
    background-color: white;
    border-top: 5px solid #e7e5e1;
}
.form__input{
    border: 1px solid #e7e5e1;
    background-color: #f6f3ef;
    height: 20px;
    width: 90%;
    margin: auto 5px;
}